.centre {
    text-align: center;
    border: 3px solid green;
  }
.ctr{
    text-align: center;
}

/* .btn{
    font-size: x-large;
} */
#result {
    
    text-align: center;
    font-size: x-large;
    font: bolder;
    font-weight: 1000;
    border: 3px solid green;
  }
#upcoming{
    text-align: center;
    font-size: large;
    font: bolder;
    font-weight: 1000;
    border: 3px solid green;
}
#entireday{
    text-align: left;
    font-size: large;
    font: bolder;
    font-weight: 1000;
    border: 3px solid green;
}
a{
   font-size:x-small;
   font-weight: 500;
   fill-opacity: var(100px);
    border-style: groove;
    
}
#foot{
    
    text-align: right;
}
.msg{
    text-align: center;
    
}
#msg {
    text-align: center;
    border: 3px solid green;
  }